/* -----------------------Common Css------------------------- */
body{
    font-family: "Jost", sans-serif;
}
#Banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../src/assets/images/bannerBg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    
}

/* -----------------------Recommend Slider Dots  */
#Recommend .slick-dots {
    bottom: -64px !important;
    z-index: 1 !important;
}
#Recommend .slick-dots li {
    margin: 0;
}
#Recommend .slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: #3554D1 !important;
    transform: scale(1.1) !important;
    transition: all ease-in-out 300ms;
}