/* -----------------------Common Css------------------------- */
body{
    font-family: "Jost", sans-serif;
}
#Banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../src/assets/images/bannerBg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    
}